<ion-view view-title="Pedido">
	<form novalidate name="deliveryForm">
		<ion-content class="has-extended-footer">

			<div class="row colums-two">
				<div class="card col home" style="padding: 15px;opacity: 0.7;height: 480px;">
					<label class="item item-input item-stacked-label">
						<input type="hidden" ng-model="vm.data.idPedido" name="idPedido" />
						<span class="input-label">Data da Produção</span>
						<input type="date" name="dataPedido" ng-model="vm.data.dataPedido" required>
						<p ng-show="deliveryForm.dataPedido.$error.required && deliveryForm.dataPedido.$dirty"
							class="error-message-card">
							O campo Data da Produção é obrigatório
						</p>
					</label>
					<label class="item item-input item-stacked-label">
						<span class="input-label">Observação</span>
						<textarea rows="14" ng-model="vm.data.notes" name="notes"></textarea>
					</label>
					<button class="button button-small rounded button-stable"
						style="margin-top: 5px;float: right;width: 140px;" 
						ui-sref="app.products({categoryId: category.categoryId, categoryName: category.title})">
						Adicionar Produto
					</button>
				</div>
			</div>
			
			<ion-list can-swipe="true">
				<ion-item ng-repeat="item in vm.items">

					<p class="text-right"><span class="badge badge-warning">{{item.quantity}}</span></p><br />
					<h2 class="text-left"><strong>{{item.name}}</strong></h2>

					<ion-option-button class="button-balanced" ng-click="vm.changeQuantity(item)">
						Alterar
					</ion-option-button>
					<ion-option-button class="button-assertive" ng-click="vm.deleteItem(item)">
						Deletar
					</ion-option-button>
				</ion-item>
			</ion-list>

			<style>
				.item-input input,
				.item-input textarea {
					width: 95%;
				}

				.badge {
					padding: 1px 9px 2px;
					font-size: 12.025px;
					font-weight: bold;
					white-space: nowrap;
					color: #ffffff;
					background-color: #999999;
					-webkit-border-radius: 9px;
					-moz-border-radius: 9px;
					border-radius: 9px;
				}

				.badge-warning {
					background-color: #f89406;
				}

				.badge-warning:hover {
					background-color: #c67605;
				}

				.badge-success {
					background-color: #468847;
				}

				.badge-success:hover {
					background-color: #356635;
				}

				.badge-info {
					background-color: #3a87ad;
				}

				.badge-info:hover {
					background-color: #2d6987;
				}

				.badge-inverse {
					background-color: #333333;
				}

				.badge-inverse:hover {
					background-color: #1a1a1a;
				}
			</style>
		</ion-content>


		<div class="bar bar-footer bar-calm" ng-click="vm.confirm(deliveryForm)">
			<div class="title">Confirmar</div>
		</div>
	</form>
</ion-view>
