<ion-view view-title="Pesquisar" cache-view="false">
	<ion-nav-buttons side="right">
		<button class="button button-clear icon ion-compose" ng-click="vm.showOptions()"></button>
	</ion-nav-buttons>

	<form novalidate name="pesquisarForm">
		<ion-nav-buttons side="right">
			<button class="button button-clear icon ion-folder"
				ui-sref="app.products({categoryId: category.categoryId, categoryName: category.title})"></button>
		</ion-nav-buttons>

		<ion-content class="has-extended-footer">

			<div class="row colums-two">
				<div class="card col home" style="padding: 15px;opacity: 0.7;height: 160px;">
					<label class="item item-input item-stacked-label">
						<span class="input-label">Data do Pedido</span>
						<input type="date" name="dataPedido" ng-model="vm.dataPedido" required>
						<p ng-show="pesquisarForm.dataPedido.$error.required && pesquisarForm.dataPedido.$dirty"
							class="error-message-card">
							O campo Data do Pedido é obrigatório
						</p>
					</label>
					<button class="button button-small rounded button-stable" style="margin-top: 5px;float: right;width: 100px;"
						ng-click="vm.pesquisar(pesquisarForm)">
						Pesquisar
					</button>
				</div>
			</div>

			<ion-list can-swipe="true">
				<ion-item ng-repeat="item in vm.items">

					<h2 class="text-left"><strong>Protocolo: {{item.pedido.idPedido}}</strong></h2>
					<hr>
					<h3 class="text-left"><strong>Observação: {{item.pedido.obsPedido}}</strong></h3>

					<ion-option-button class="button-balanced" ng-click="vm.preparaAlterarPedido(item)">
						Alterar
					</ion-option-button>
					<ion-option-button class="button-assertive" ng-click="vm.inativarPedido(item)">
						Inativar
					</ion-option-button>
				</ion-item>
			</ion-list>
		</ion-content>
	</form>
</ion-view>
